albumentations==1.3.0
diffusers
pudb==2019.2
invisible-watermark
imageio==2.9.0
# imageio-ffmpeg==0.4.2
omegaconf==2.1.1
test-tube>=0.7.5
streamlit>=0.73.1
einops==0.3.0
torch-fidelity==0.3.0
transformers==4.26.1
torchmetrics==0.6.0
kornia==0.6
academictorrents
pytorch_lightning==1.6.5
diffdist==0.1
clip
# open-clip-torch==2.0.2 # hack: comment for stable-diffusion-webui
timm==0.6.11
boto3
nltk
# from Detrex
wandb
# from DRAGGAN
imgui==2.0.0
glfw==2.6.1
# gradio==3.35.2 # hack: comment for stable-diffusion-webui
pyopengl==3.1.5
imageio-ffmpeg==0.4.3
pyspng-seunglab
###############################################
# below are from detectron2
Pillow>=7.1  # or use pillow-simd for better performance
matplotlib  # TODO move it to optional after we add opencv visualization
pycocotools>=2.0.2  # corresponds to https://github.com/ppwwyyxx/cocoapi
# Do not add opencv here. Just like pytorch, user should install
# opencv themselves, preferrably by OS's package manager, or by
# choosing the proper pypi package name at https://github.com/skvark/opencv-python
# Also, avoid adding dependencies that transitively depend on pytorch or opencv.
# ------------------------------------------------------------
# The following are pure-python dependencies that should be easily installable.
# But still be careful when adding more: fewer people are able to use the software
# with every new dependency added.
termcolor>=1.1
yacs>=0.1.8
tabulate
cloudpickle
tqdm>4.29.0
tensorboard
# Lock version of fvcore/iopath because they may have breaking changes
# NOTE: when updating fvcore/iopath version, make sure fvcore depends
# on compatible version of iopath.
fvcore>=0.1.5,<0.1.6  # required like this to make it pip installable
iopath>=0.1.7,<0.1.10
hydra-core>=1.1
black
packaging
lvis
# numpy==1.23.5
# end of detectron2
###################################
# below are from stable-diffusion-webui #
GitPython
Pillow
accelerate

basicsr
blendmodes
clean-fid
einops
gfpgan
gradio==3.32.0
inflection
jsonmerge
kornia
lark
# numpy
# omegaconf

piexif
psutil
# pytorch_lightning
realesrgan
requests
resize-right

safetensors
# scikit-image>=0.19
# timm
tomesd
# torch
torchdiffeq
torchsde
# transformers==4.25.1
# end for stable-diffusion-webui
open-clip-torch==2.8.0
fairscale==0.4.13
########################################
# from CodeFormer
lpips
gdown
#####################################
# from DeepSolo
# setuptools==59.5.0
editdistance==0.6.2
# matplotlib==3.3.3
# numba==0.51.2
# numpy==1.20.0
# opencv-python==4.5.5.62
pillow==9.0.1
polygon3==3.0.9.1
rapidfuzz==2.13.7
# scipy==1.5.2
# scikit-image==0.15.0
# scikit-learn==0.23.2
shapely==2.0.0
# timm==0.5.4
# tqdm==4.53.0
###################################
